
{% block content %}
{% comment %}
    {% if entities %}
        <table border="1">
            <tr>
                <th>Query Results</th>
            </tr>
            {% for entity in entities %}
                <tr>
                <td>
                {{entity.PartitionKey}}
                </td>
                </tr>
            {% endfor %}
        </table> 

    {% else %}
        <p>No results returned by query. </p>
    {% endif %}
<img src='{{ charturl }}'>
{% endcomment %}
{% comment %}
{% load charts %}
{% chart  Line abcdefghijklmnopqrstuv  encoding=simple  %}
    {% size 200 100  %}
    {% axes type xy  %}
    {% axes label April May June  %}
    {% axes label None  50+Kb  %}
{% endchart %}
{% endcomment %}
<html>
  <head>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
    
      // Load the Visualization API and the piechart package.
      google.load('visualization', '1', {'packages':['annotatedtimeline']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChart);
      
      // Callback that creates and populates a data table, 
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

      // Create our data table.
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Year');
        data.addColumn('number', 'Births');
            data.addRows([
            {% for year,total in data %}
                [new Date({{year}},1,1), {{total}}],
            {% endfor %}
            ]);

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.AnnotatedTimeLine(document.getElementById('chart_div'));
        chart.draw(data, {displayAnnotations: true});
      }
    </script>
  </head>

  <body>
    <!--Div that will hold the pie chart-->
    <div id="chart_div" style='width: 700px; height: 240px;'></div>
  </body>
</html>

{% endblock %}
