
{% block content %}
<html>
<head>
  <title>Getting Started Example</title>
  <!--Load the AJAX API-->
  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script type="text/javascript">

  //Load the Visualization API and the ready-made Google annotated timeline visualization
  google.load('visualization', '1', {'packages':['scatterchart']});

  // Set a callback to run when the API is loaded.
  google.setOnLoadCallback(init);

  // Send the query to the data source.
  function init() {

    // Specify the data source URL.
    var query = new google.visualization.Query('https://opus-dev.cnl.ncsu.edu:9004/dataview/data/{{dataview}}');

    // Send the query with a callback function.
    query.send(handleQueryResponse);
  }

  // Handle the query response.
  function handleQueryResponse(response) {
    if (response.isError()) {
      alert('Error in query: ' + response.getMessage() + ' ' + response.getDetailedMessage());
      return;
    }

    // Draw the visualization.
    var data = response.getDataTable();
    // Instantiate and draw our chart, passing in some options.
    var chart = new google.visualization.ScatterChart(document.getElementById('chart_div'));
    chart.draw(data, {width: {{width}}, height: {{height}}, titleX: 'Age', titleY: 'Weight', legend: 'none', pointSize: 5});
  }
  </script>
</head>

  <body>
    <!--Div that will hold the pie chart-->
    <div id="chart_div"></div>
  </body>
</html>

{% endblock %}
